<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="org.springframework" level="INFO"/>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!--<Pattern>{"@timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%-5p","thread":"%t","class":"%C", "code_line_number":"%L","message":"%m"}%n</Pattern>-->

			<pattern>%clr(%5p)web - %date [%thread] %-5level %logger{36} - %message%n</pattern>
		</encoder>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>