
**/apikey-user.properties
**/apikey-user.yml
**/application.user.properties
**/application-user.properties
**/application.user.yml
**/application-user.yml

/target/
.idea
*.iml

console.log

# Temp files
*.bak
