
**/apikey.user.properties
**/apikey.user.yml
**/application.user.properties
**/application.user.yml
**/application-user.yml


console.log

#IntelliJ project files
.idea
*.iml

# Maven
*/target/**
target/**

# Temp files
*~
*.bak
.DS_Store
